.input-group-addon>a {
    color: white;
    text-decoration: none;
}

.product-addtocart-box {
    text-align: center;
}

.btn-addtocart {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    border: #2860aa solid 2px;
}

.btn-addtocart:hover {
    background: #2860aa;
    color: white;
}

.btn-ch {
    width: 40px;
}

.input-count {
    width: 160px;
}

.card-body>h5 {
    text-align: center;
}

.card-body>p {
    text-align: center;
}

.d-block p{
    font-size: 25px;
}