body {
    font-family: 'Kanit', sans-serif;
    background: #FFF4D8;
    background-size: cover;
}

.bg1 {
    background: #fff;
    width: auto;
    height: 100vh;
    align-items: center;
    padding-top: 100px;
}

.bg2 {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bg2-2 {
    background: #fff;
}

.bg3 {
    background: #fff;
    padding: 30px;
    border-radius: 20px;
}

.bg3-1 {
    background: #FFF4D8;
    padding: 30px;
    border-radius: 30px;
}

.coffee {
    padding-top: 80px;
}


/* header */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/254710623_866066767395498_4625614194822457391_n.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header img {
    border-radius: 50px;
    width: 70px;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav .bi {
    display: none;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li ::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li :hover::after {
    width: 100%;
}


/* header2 */

.header2 {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/coffee1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header2 img {
    border-radius: 50px;
    width: 70px;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav .bi {
    display: none;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li ::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li :hover::after {
    width: 100%;
}


/* header3 */

.header3 {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/cake.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header3 img {
    border-radius: 50px;
    width: 70px;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav .bi {
    display: none;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li ::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li :hover::after {
    width: 100%;
}


/* header3 */

.header4 {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/cake.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header4 img {
    border-radius: 50px;
    width: 70px;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav .bi {
    display: none;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li ::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li :hover::after {
    width: 100%;
}


/* nav */

li.nav-item :hover {
    color: #37251F;
    transform: scale(1.05);
}

ul.navbar-nav {
    text-align: center;
}

.navbar {
    padding: 10px 30px;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.navbar b {
    color: #fff;
}


/* container */

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.content_text {
    margin-top: 100px;
    margin-bottom: 100px;
}

.content_img {
    margin-bottom: 200px;
}

.content h1 {
    text-align: center;
    color: #813709;
}

.content h5 {
    text-align: center;
    color: #813709;
}

.content h3 {
    text-align: center;
    color: #813709;
}

.content p {
    text-align: center;
    font-size: 24px;
    color: #813709;
}

.content_text p {
    font-size: 20px;
    margin-bottom: 5px;
    color: #813709;
}

.content_img img {
    width: 21.875rem;
}

.class {
    text-align: center;
    align-items: center;
}

.class_text {
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
}

.class_text h3 {
    color: #813709;
}

.class b {
    font-size: 25px;
}

.class h2 {
    color: #813709;
}

.class h3 {
    color: #813709;
}

.class img {
    border-radius: 20px;
    width: 600px;
}

.class img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.photo img {
    border-radius: 20px;
}

.photo img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.photo {
    margin-bottom: 100px;
}

.head-text {
    padding: 30px;
    text-align: center;
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head-text h1 {
    font-size: 70px;
}

.head-text p {
    font-size: 30px;
}

.head-text-coffee h1 {
    border: 1px solid #fff;
    padding: 30px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* coffee */

.coffee h1 {
    margin-top: 100px;
    text-align: center;
}


/* footer */

footer {
    background: #fff;
}

footer a {
    color: #000;
}

footer a:hover {
    color: #000;
}

footer i:hover {
    transform: scale(1.5);
    transition: .5s;
}

.footer {
    /* position: ; */
    margin-top: 100px;
    bottom: 0;
}

.icon {
    font-size: 40px;
}

.icon i {
    margin-right: 20px;
}