body {
    font-family: 'Kanit', sans-serif;
    background: #FFF4D8;
    background-size: cover;
}

.bg1 {
    background: #fff;
    width: auto;
    height: 100vh;
    align-items: center;
    padding-top: 100px;
}

.bg2 {
    background: #fff;
    padding-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 20px;
}

.bg3 {
    background: #fff;
    padding: 30px;
    border-radius: 20px;
}

.bg3-1 {
    background: #FFF4D8;
    padding: 30px;
    border-radius: 30px;
}


/* nav */

li.nav-item :hover {
    color: #37251F;
    transform: scale(1.05);
}

ul.navbar-nav {
    text-align: center;
}

.navbar {
    padding: 10px 30px;
    position: fixed;
    width: 100%;
    z-index: 99;
}


/* container */

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.content_text {
    margin-bottom: 100px;
}

.content_img {
    margin-bottom: 200px;
}

.content h1 {
    text-align: center;
}

.content h5 {
    text-align: center;
}

.content p {
    text-align: center;
    font-size: 24px;
}

.content_text p {
    font-size: 20px;
    margin-bottom: 5px;
}

.content_img img {
    width: 21.875rem;
}

.class {
    text-align: center;
    align-items: center;
}


/* footer */

.icon {
    font-size: 40px;
    text-align: center;
}

.icon i {
    margin-right: 20px;
}