body {
    font-family: 'Kanit', sans-serif;
    background: #FFF4D8;
    background-size: cover;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
}

.navbar b {
    color: #fff;
}

.navbar i {
    color: #fff;
}

.navbar img {
    width: 70px;
    border-radius: 50px;
}

.dropdown-menu a {
    align-items: center;
}

.banner {
    background-image: url(../images/bg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}