body {
    font-family: 'Kanit', sans-serif;
    background: #FFF4D8;
    background-size: cover;
    width: 100%;
}

.navbar {
    padding-top: 40px;
    position: absolute;
    width: 100%;
}

.navbar p {
    color: #fff;
}

.dropdown-menu p {
    color: #000;
}

.navbar i {
    color: #fff;
}

.navbar img {
    width: 70px;
    border-radius: 50px;
}

.dropdown-menu a {
    align-items: center;
}

.banner {
    background-image: url(../images/bg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.banner2 {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/255003790_866066740728834_8726365962187179833_n.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}


/* nav */

.navbar li :hover {
    transform: scale(1.05);
}